@model User
@{
	ViewData["Title"] = "EditProfile";
	ViewData["Role"] = Model.Role.ToString(); 
	Layout = "~/Views/Shared/_InstructorLayout.cshtml";
}
<div class="text-center">
	<h1 class="">Edit Your Profile</h1>
	<p>Here you can view and edit your Personal information</p>
</div>
<div class="">
	<h3>Instructor Information</h3>
</div>
<hr />
<div>
	<form asp-action="EditProfile" method="post">
		<input asp-for="ID" value="@Model.ID" hidden />
		<table class="table table-active table-hover">
			<tr>
				<td>
					<label asp-for="Name"></label>
				</td>
				<td>
					<input asp-for="Name" class="form-control" value="@Model.Name" pattern="[A-Za-z]{3,}\s[A-Za-z]{3,}" />
					<span asp-validation-for="Name" class="text-danger"></span>
				</td>
			</tr>
			<tr>
				<td>
					<label asp-for="Email"></label>
				</td>
				<td>
					<input asp-for="Email" class="form-control" value="@Model.Email"/>
					<span asp-validation-for="Email" class="text-danger"></span>
				</td>
			</tr>
			<tr>
				<td>
					<label asp-for="Phone"></label>
				</td>
				<td>
					<input asp-for="Phone" class="form-control" value="@Model.Phone" pattern="^01(0|1|2|5)[0-9]{8}$" />
					<span asp-validation-for="Phone" class="text-danger"></span>
				</td>
			</tr>
			<tr>
				<td>
					<label asp-for="Address"></label>
				</td>
				<td>
					<input asp-for="Address" class="form-control" value="@Model.Address" />
					<span asp-validation-for="Address" class="text-danger"></span>
				</td>
			</tr>
			<tr>
				<td>
					<label asp-for="Password"></label>
				</td>
				<td>
					<input asp-for="Password" class="form-control" value="@Model.Password" pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[^\da-zA-Z]).{8,}$" />
					<span asp-validation-for="Password" class="text-danger"></span>
				</td>
			</tr>
		</table>
		<button type="submit" class="btn btn-lg btn-primary float-end">Save</button>
	</form>
</div>

