@model IEnumerable<User>
@{
    ViewData["Title"] = "AdminInstructors";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    List<User> Instructors = new List<User>();
    foreach(var user in Model)
    {
        if (user.Role==UserRole.Instructor || user.Role==UserRole.Supervisor)
        {
            Instructors.Add(user);
        }
    }
    Instructor inst = new Instructor();
    inst.Role = UserRole.Instructor;
    var tracks = ViewBag.Tracks as List<Track>;

}
<div class="d-flex justify-content-between">

    <h3>Instructors</h3>
    <button class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#AddInstructorModal"><i class="fa-solid fa-user-plus"></i></button>
</div> <!--end of div -->
<!--start of table -->
<div class="table-responsive">


    <table id="myTable" class="table-bordered table-hover display">

        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col">Phone</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var instructor in Instructors)
            {

                <tr>
                    <td>@instructor.ID</td>
                    <td>@instructor.Name</td>
                    <td>@instructor.Email</td>
                    <td>@instructor.Address</td>
                    <td>@instructor.Phone</td>

                    <td>
                        <a class="btn border-0 text-secondary" data-bs-toggle="modal" data-bs-target="#EditModal-@instructor.ID"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a class="btn border-0 text-danger" data-bs-toggle="modal" data-bs-target="#DeleteModal-@instructor.ID"><i class="fa-solid fa-trash-can"></i></a>
                        <!-------------------------------------- Delete Modal ------------------------------->
                        <div class="modal fade" id="DeleteModal-@instructor.ID" tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5 text-danger" id="DeleteModalLabel">Delete</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                      @if (instructor.Role==UserRole.Supervisor)
                                        {
                                            @foreach (var track in tracks)
                                            {
                                                if (instructor.ID==track.SupID)
                                                {
                                                 <div class="modal-body">
                                                    <div class="text-center">
                                                        <img src="~/assets/undraw_swipe_options_2e4v.svg" width="150px" />
                                                    </div>
                                                     <h5>Are you sure you want to delete this Instructor?</h5>
                                      
                                                    <h6>If yes, then you should know that he is an  @track.Name supervisor.</h6>
                                                    <h6> You have to go this track and choose instructor to be supervisor on it.</h6>
                                             
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                </div>
                                                break;
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <div class="modal-body">
                                            <div class="text-center">
                                                <img src="~/assets/undraw_swipe_options_2e4v.svg" width="150px" />
                                            </div>
                                            <h5>Are you sure you want to delete this Instructor?</h5>
                                           </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <a asp-action="AdminDeleteInstructor" asp-controller="Admin" class="btn btn-danger" asp-route-id="@instructor.ID">Delete @instructor.ID</a>
                                        </div>
                                    }


                                </div>
                            </div>
                        </div>

                        <!-------------------------------------------Edit Model------------------------------------------>
                        <div class="modal fade" style="text-align:left;" id="EditModal-@instructor.ID" tabindex="-1" aria-labelledby="EditModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form asp-action="AdminEditInstructor" asp-controller="Admin" method="post">

                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5 text-black" id="AddStudentModalLabel">Add New Student</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body row g-2">
                                            <div class="text-center">
                                                <img src="~/assets/editorial-commision-animate.svg" width="150px" />
                                            </div>
                                            @Html.HiddenFor(model => instructor.ID)
                                            <div class="col-md-6">
                                                <label asp-for="@instructor.Name" class="col-form-label">Name</label>
                                                <input asp-for="@instructor.Name" class="form-control" />
                                                @* <input type="text" name="student.Name" value="@student.Name" /> *@
                                            </div>
                                            <div class="col-md-6">
                                                <label asp-for="@instructor.Password" class="col-form-label">Password</label>
                                                <input asp-for="@instructor.Password" class="form-control" />
                                            </div>
                                            <div class="col-md-6">
                                                <label asp-for="@instructor.Email" class="col-form-label">Email</label>
                                                <input asp-for="@instructor.Email" class="form-control">
                                            </div>
                                            <div class="col-md-6">
                                                <label asp-for="@instructor.Phone" class="col-form-label">Phone</label>
                                                <input asp-for="@instructor.Phone" class="form-control">
                                            </div>
                                            <div class="col-md-6">
                                                <label asp-for="@instructor.Address" class="col-form-label">Address</label>
                                                <input asp-for="@instructor.Address" class="form-control">
                                            </div>
                                            <input type="hidden" name="std.Role" value="@instructor.Role" />
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                           @* <button type="submit" class="btn btn-success" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#ValidationModal-@instructor.ID">Update</button>*@
                                            <button type="submit" class="btn btn-success">Update</button>

                                        </div>

                                    </form>

                                </div>
                            </div>
                        </div>
                        <!-------------------------------------- Validation Modal ------------------------------->
                        <div class="modal fade" id="ValidationModal-@instructor.ID" tabindex="-1" aria-labelledby="ValidationModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5 text-danger" id="ValidationModalLabel">Delete</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div asp-validation-summary="All" class="alert alert-danger list-unstyled"></div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
              }
        </tbody>
    </table>
</div>

<!-------------------------------------- Add Modal ------------------------------------->
<div class="modal fade" id="AddInstructorModal" tabindex="-1" aria-labelledby="AddInstructorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="AdminAddInstructor" asp-controller="Admin" method="post">

                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-black" id="AddInstructorModalLabel">Add New Instructor</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body row g-2">
                    <div class="text-center">
                        <img src="~/assets/Add tasks-rafiki.svg" width="150px" />
                    </div>
                    <div class="col-md-6">
                        <label asp-for="@inst.Name" class="col-form-label">Name</label>
                        <input asp-for="@inst.Name" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label asp-for="@inst.Password" class="col-form-label">Password</label>
                        <input asp-for="@inst.Password" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label asp-for="@inst.Email" class="col-form-label">Email</label>
                        <input asp-for="@inst.Email" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label asp-for="@inst.Phone" class="col-form-label">Phone</label>
                        <input asp-for="@inst.Phone" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label asp-for="@inst.Address" class="col-form-label">Address</label>
                        <input asp-for="@inst.Address" class="form-control">
                    </div>
                    <input type="hidden" name="inst.Role" value="@inst.Role" />
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Add</button>
                </div>

            </form>

        </div>
    </div>
</div>


<script>
    document.querySelector("tr .bg-warning").parentElement.style.backgroundColor = "red";
</script>


