@model IEnumerable<Student>
@{
    ViewData["Title"] = "AdminStudents";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int counter = 1;
    Student std = new Student();
    std.Role = UserRole.Student;
    var Tracks = ViewBag.Tracks;
    var tracks = Tracks as List<Track>;
    SelectList tracksList = new SelectList(tracks, "ID", "Name");
}
<div class="d-flex justify-content-between">

<h1>Students</h1>
    <button class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#AddModal"><i class="fa-solid fa-plus"></i></button>
</div> <!--end of div -->
<!--start of table -->
<div class="">


    <table id="myTable" class="table-bordered display">
    <thead>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var student in Model)
        {

                <tr>
                    <td>@student.ID</td>
                    <td>@student.Name</td>
                    <td>@student.Email</td>
                    <td>@student.Address</td>
                    <td>@student.Phone</td>
                    <td>
                        <a class="btn border-0" style="color:#64CCC5;" data-bs-toggle="modal" data-bs-target="#ViewModal-@student.ID"><i class="fa-solid fa-eye"></i></a>
                        <a class="btn border-0 text-secondary" data-bs-toggle="modal" data-bs-target="#EditModal-@student.ID"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a class="btn border-0 text-danger" data-bs-toggle="modal" data-bs-target="#DeleteModal-@student.ID"><i class="fa-solid fa-trash-can"></i></a>
                        <!-------------------------------------- Delete Modal ------------------------------->
                        <div class="modal fade" id="DeleteModal-@student.ID" tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5 text-danger" id="DeleteModalLabel">Delete</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="text-center">
                                            <img src="~/assets/undraw_swipe_options_2e4v.svg" width="150px" />
                                        </div>
                                        <h5>Are you sure you want to delete this Student?</h5>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <a asp-action="AdminDeleteStudent" asp-controller="Admin" class="btn btn-danger" asp-route-id="@student.ID">Delete @student.ID</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-------------------------------------------Edit Model------------------------------------------>
                        <div class="modal fade" style="text-align:left;" id="EditModal-@student.ID" tabindex="-1" aria-labelledby="EditModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form asp-action="AdminEditStudent" asp-controller="Admin" method="post">

                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5 text-black" id="AddStudentModalLabel">Add New Student</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body row g-2">
                                            <div class="text-center">
                                                <img src="~/assets/editorial-commision-animate.svg" width="150px" />
                                            </div>
                                            @* <input type="text"  name="student.ID" value="@student.ID" /> *@
                                            @* <input type="hidden" name="std.Role" value="@std.Role" /> *@
                                            @Html.HiddenFor(model => student.ID)
                                            <div class="col-md-6">
                                                <label asp-for="@student.Name" class="col-form-label">Name</label>
                                                <input asp-for="@student.Name" class="form-control" />
                                                @* <input type="text" name="student.Name" value="@student.Name" /> *@
                                            </div>
                                            <div class="col-md-6">
                                                <label asp-for="@student.Password" class="col-form-label">Password</label>
                                                <input asp-for="@student.Password" class="form-control" />
                                            </div>
                                            <div class="col-md-6">
                                                <label asp-for="@student.Email" class="col-form-label">Email</label>
                                                <input asp-for="@student.Email" class="form-control">
                                            </div>
                                            <div class="col-md-6">
                                                <label asp-for="@student.Phone" class="col-form-label">Phone</label>
                                                <input asp-for="@student.Phone" class="form-control">
                                            </div>
                                            <div class="col-md-6">
                                                <label asp-for="@student.Address" class="col-form-label">Address</label>
                                                <input asp-for="@student.Address" class="form-control">
                                            </div>
                                            <div class="col-md-6">
                                                <label asp-for="@student.Graduation_year" class="col-form-label">Graduation year</label>
                                                <input asp-for="@student.Graduation_year" class="form-control">
                                            </div>
                                            <div class="col-md-4">
                                                <label asp-for="@student.University" class="col-form-label">University</label>
                                                <input asp-for="@student.University" class="form-control" placeholder="Ex: Cairo, Mansoura, Ain Shams">
                                            </div>
                                            <div class="col-md-4">
                                                <label asp-for="@student.Faculty" class="col-form-label">Faculty</label>
                                                <input asp-for="@student.Faculty" class="form-control" id="inputFaculty" placeholder="Ex:Engineering , Computer and Information">
                                            </div>
                                            <div class="col-md-4">
                                                <label asp-for="@student.Specialization" class="col-form-label">Specialization</label>
                                                <input asp-for="@student.Specialization" class="form-control" placeholder="Ex: AI, Bioinformatics">
                                            </div>
                                            <div class="col-md-6">
                                                <label asp-for="@student.TrackId" class="col-form-label">Track</label>
                                                <select asp-for="@student.TrackId" asp-items="tracksList" class="form-control">
                                                    <option value="@student.TrackId" selected>Choose...</option>
                                                </select>

                                            </div>
                                            <input type="hidden" name="std.Role" value="@student.Role" />
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-success">Update</button>
                                        </div>

                                    </form>

                                </div>
                            </div>
                        </div>


                        <!-------------------------------------------View Model------------------------------------------>
                        <div class="modal fade" style="text-align:left;" id="ViewModal-@student.ID" tabindex="-1" aria-labelledby="ViewModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                        <div class="modal-header">
                                        <h1 class="modal-title fs-5" style="color:#64CCC5;" id="AddStudentModalLabel">More Information about "@student.Name"</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="text-center">
                                                <img src="~/assets/More_details.svg" width="100px" />
                                            </div>
                                            <div class="mt-1">
                                            <ul class="border rounded-2" style="list-style:none;">
                                                <li class="d-flex justify-content-between p-2"> <span class="fw-bold">University</span> @student.University</li>
                                                <li class="d-flex justify-content-between p-2"> <span class="fw-bold">Faculty</span> @student.Faculty</li>
                                                <li class="d-flex justify-content-between p-2"> <span class="fw-bold">Specialization</span> @student.Specialization</li>
                                                <li class="d-flex justify-content-between p-2"> <span class="fw-bold">Graduation year</span> @student.Graduation_year</li>
                                                <li class="d-flex justify-content-between p-2">
                                                    <span class="fw-bold">Track</span>
                                                    @foreach (var track in Tracks)
                                                    {
                                                        @if (student.TrackId==track.ID)
                                                        {
                                                            @track.Name
                                                            break;
                                                        }
                                                    }
                                                </li>
                                                </ul>
                                            </div>
                                        </div>
                                    <div class="modal-footer text-center d-grid gap-2 mx-auto">
                                        <button type="button" class="btn" style="color:white;background-color:#64CCC5;" data-bs-dismiss="modal">Close</button>
                                        </div>
                                </div>
                            </div>
                        </div>

                        <!-------------------------------------- Validation Modal ------------------------------->
                        <div class="modal fade" id="ValidationModal-@student.ID" tabindex="-1" aria-labelledby="ValidationModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5 text-danger" id="ValidationModalLabel">Delete</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div asp-validation-summary="All" class="alert alert-danger list-unstyled"></div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>     
            </tr>
        }
    </tbody>
</table>
</div>
<!-------------------------------------------Add Modal------------------------------------------------->
<div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="AddModallLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="AddModallLabel">Add</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="text-center border-1">
                    <img src="~/assets/add-tasks-animate.svg" width="150px" />
                </div>
            </div>
            <div class="d-flex justify-content-between m-3">
                <p>
                    Add One By One:
                    <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#AddStudentModal"><i class="fa-solid fa-user-plus"></i></button>
                </p>
                <p>

                    Add One or More Student :
                    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#AddStudentsModal"><i class="fa-regular fa-file-excel"></i></button>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!--------------------------add studentsssssssssssssssssssssssssssssssssssssssss----------------------->
<div class="modal fade" id="AddStudentsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("ImportExcel", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input type="file" name="excelFile" class="col-form-label" />
                    <button type="submit" class="btn btn-success">Upload</button>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-------------------------------------- Add  Student Modal ------------------------------------->
<div class="modal fade" id="AddStudentModal" tabindex="-1" aria-labelledby="AddStudentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="AdminAddStudent" asp-controller="Admin" method="post">

            <div class="modal-header">
                <h1 class="modal-title fs-5 text-black" id="AddStudentModalLabel">Add New Student</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body row g-2">
                    <div class="text-center">
                        <img src="~/assets/Add tasks-rafiki.svg" width="150px" />
                    </div>
                        <div class="col-md-6">
                        <label asp-for="@std.Name" class="col-form-label">Name</label>
                        <input asp-for="@std.Name" class="form-control" />
                        </div>
                        <div class="col-md-6">
                        <label asp-for="@std.Password" class="col-form-label">Password</label>
                        <input asp-for="@std.Password" class="form-control" />
                        </div>
                        <div class="col-md-6">
                        <label asp-for="@std.Email" class="col-form-label">Email</label>
                        <input asp-for="@std.Email" class="form-control">
                        </div>
                        <div class="col-md-6">
                        <label asp-for="@std.Phone" class="col-form-label">Phone</label>
                        <input asp-for="@std.Phone" class="form-control">
                        </div>
                    <div class="col-md-6">
                        <label asp-for="@std.Address" class="col-form-label">Address</label>
                        <input asp-for="@std.Address" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label asp-for="@std.Graduation_year" class="col-form-label">Graduation year</label>
                        <input asp-for="@std.Graduation_year" class="form-control">
                    </div>
                    <div class="col-md-4">
                        <label asp-for="@std.University" class="col-form-label">University</label>
                        <input asp-for="@std.University" class="form-control" placeholder="Ex: Cairo, Mansoura, Ain Shams">
                        </div>
                    <div class="col-md-4">
                        <label asp-for="@std.Faculty" class="col-form-label">Faculty</label>
                        <input asp-for="@std.Faculty" class="form-control" id="inputFaculty" placeholder="Ex:Engineering , Computer and Information">
                        </div>
                        <div class="col-md-4">
                        <label asp-for="@std.Specialization" class="col-form-label">Specialization</label>
                        <input asp-for="@std.Specialization" class="form-control" placeholder="Ex: AI, Bioinformatics">
                        </div>
                        <div class="col-md-6">
                        <label asp-for="@std.TrackId" class="col-form-label">Track</label>
                        <select asp-for="@std.TrackId" asp-items="tracksList" class="form-control">
                            <option selected disabled>Choose...</option>
                        </select>
                           
                        </div>
                    <input type="hidden" name="std.Role" value="@std.Role" />
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                 <button type="submit" class="btn btn-success">Add</button>
            </div>

            </form>

        </div>
    </div>
</div>



