@model Attendance_Time_Tracking.Models.Student
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}


<h1>@Model.Name</h1>

<form>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" value="@Model.Email" readonly>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" value="@Model.Password" readonly>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" value="@Model.Name" readonly>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Address</label>
                <input type="text" class="form-control" value="@Model.Address" readonly>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Phone</label>
                <input type="tel" class="form-control" value="@Model.Phone" readonly>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>University</label>
                <input type="text" class="form-control" value="@Model.University" readonly>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Faculty</label>
                <input type="text" class="form-control" value="@Model.Faculty" readonly>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Specialization</label>
                <input type="text" class="form-control" value="@Model.Specialization" readonly>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Graduation Year</label>
                <input type="text" class="form-control" value="@Model.Graduation_year" readonly>
            </div>
        </div>
    </div>

    <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-danger mt-3">Edit</a>
</form>
